<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>

    {% include navbar.html %}
    {% include titlesplash-date.html %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12 blogpost" id="thepost"> 
            {{ content }}
        </div>
      </div>
      <div class="row">
        {% if page.next_in_category != nil %}
        <div class="col-xs-6 col-md-4 blogpost pull-left text-left"> 
          <a href={{page.next_in_category.url}} class="next-link btn btn-block btn-dark">Older Post</a>
        </div>
        {% endif %}
        <div class="hidden-xs col-md-4 blogpost">
          <script>
            function fullscreenphoto()
            {
                var elem = document.getElementById('thepost').getElementsByTagName('img')[0];
                var requestFullScreen = elem.requestFullscreen || elem.msRequestFullscreen || elem.mozRequestFullScreen || elem.webkitRequestFullscreen;

                requestFullScreen.call(elem);
            }

            var fullscreenlink = document.getElementById('fullscreenphoto');
            fullscreenlink.onclick = fullscreenphoto;
          </script>
          <button onclick="fullscreenphoto()" class="btn btn-block btn-dark">Fullscreen</button>
        </div>
        {% if page.previous_in_category != nil %}
        <div class="col-xs-6 col-md-4 blogpost pull-right text-right"> 
          <a href={{page.previous_in_category.url}} class="previous-link btn btn-block btn-dark">Newer Post</a>
        </div>
        {% endif %}
      </div>
    </div>

    {% include bootstrap-core.html %}

  </body>
</html>
